{
  "extends": [
    "react-app",
    "plugin:css-modules/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "css-modules", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
